h1{
    text-align: center;
    margin-bottom: 50px;
}

img{
    height: 159px;
    width: 150px;
}

.descripcion{
    margin-top: 50px;
}

.contenedor{
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.colorBoton{
    background-color: red;
    color: white;
}