<div class="contenedorBuscador">
    <h1>Lista De Productos</h1>
    <div class="buscador">
        <input type="text" placeholder={{buscar}} [(ngModel)]="buscar">
        <button mat-button class="estiloBoton" (click)="busqueda()">Buscar</button>
    </div>
</div>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="tarjeta" *ngFor="let producto of productos">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="tituloTarjeta">{{producto.title}}</mat-card-title>
            </mat-card-header>
            <img src={{producto.thumbnail}} alt="imagen portada">
            <mat-card-content>
                <p>
                    Precio:{{producto.price | currency:'ARS'}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="colorBoton" routerLink="/detalle/{{producto.id}}">Detalle</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


